.countdown {
    color: seashell;
    font-size: 1.5rem;
    padding: 25px;
}

.countdown__icons {
    cursor: pointer;
    display: none;
    float: right;
    font-size: 1.2rem;
}

.countdown:hover {
    background: rgb(255, 245, 238, 0.1);
    transition: 0.3s all ease-in-out;
}

.countdown:hover .countdown__icons {
    display: block;
}

.countdown:hover .overlay span {
    display: block;
}